<!DOCTYPE html>
<html>
  <body>
   

    <p>Votre compte a bien été créé avec succès.</p>

    <p>Vous pouvez désormais vous connecter à notre plateforme.</p>

    <p>Merci,<br>L’équipe d’administration</p>
  </body>
</html>
